nav {
  background-color: white;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 5px gray;
  position: fixed;
}
nav ul {
  position: relative;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 800px;
}
nav ul li {
  display: block;
  list-style-type: none;
  min-width: 20px;
  text-align: center;
}
@media (max-width: 991px) {
  nav {
    bottom: 0;
  }
  .full-view {
    min-height: 100vh;
    padding-top: 20px;
  }
  nav ul li {
    font-size: 12px;
    font-weight: 600;
    padding: 10px 0;
  }
}
@media (min-width: 992px) {
  body {
    padding-top: 100px;
  }
  nav {
    top: 0;
  }
  .full-view {
    min-height: 100vh;
    padding-top: 90px;
  }
  nav ul li {
    padding: 10px 5px;
    font-size: 14px;
    font-weight: 600;
  }
}
nav ul li a:link,
nav ul li a:visited {
  text-decoration: none;
  color: gray;
  outline: none;
  display: block;
}
.nav_link:after {
  position: relative;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0;
  background-color: #7ba3ce;
  display: block;
  content: "";
  transition: 0.3s;
}
.nav_link:hover:after {
  left: 0;
  width: 100%;
}
.icons {
  margin: 0 auto;
  width: 36px;
  height: 36px;
  background-image: url("../img/icones-p.png");
}
#title {
  font-size: 18px;
  letter-spacing: 1px;
}
.perfil {
  width: 200px;
  border-radius: 50%;
}